.top-bar {
  top: 0;
  left: 0;
  right: 0;
  width: 99.7%;
  height: 50px;
  position: fixed;
  background-color: transparent;
  transition: background-color 300ms ease;
  z-index: 10;
}

.top-bar.scrolled {
  background-color: #fff;
  height: 65px;
}

.nav-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.nav-detail div {
  display: flex;
  align-items: center;
}

.nav-detail form.nosubmit {
  border: none;
  padding: 0;
}

.nav-detail input.nosubmit {
  width: 230px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #ededed;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.nav-detail input.nosubmit:focus {
  outline: none;
  border: 1px solid grey;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.nav-detail .cart-icon-wrapper img {
  width: 30px;
  height: 30px;
}

.nav-detail .cart-icon-wrapper img:nth-child(1) {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.cart-icon-wrapper {
  position: relative;
  display: inline-flex;
}

.badge {
  position: absolute;
  top: -5px;
  right: 13px;
  background-color: #e55986;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
