.product-details {
  opacity: 0;
}

.product-details-enter {
  opacity: 0;
}

.product-details-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.product-details-done {
  opacity: 1;
}

.cart-top {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.cart-nav img {
  width: 25px;
  height: 25px;
}

.cart-nav img:nth-child(1) {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.cart-nav img:nth-child(2) {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.cart-nav img:nth-child(3) {
  width: 20px;
  height: 20px;
}

.main-product-details {
  position: relative;
  flex-grow: 1;
  overflow-y: auto; /* Make the content area scrollable */
  z-index: 2;
  padding: 60px 15px 100px 15px;
}

.product-image-wrapper {
  height: 300px;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-image-wrapper .main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  display: block;
}

.thumbnails {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.thumbnails img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.product-details-wrapper .thrift {
  display: flex;
  color: #d0d3d4;
  align-items: center;
  font-size: 14px;
}

.product-details-wrapper .thrift img {
  width: 20px;
  height: auto;
}

.product-details-wrapper .thrift span {
  margin-left: 5px;
}

.all-desc .p-name {
  font-size: 20px;
  margin: 8px 0 15px 0;
}

.all-desc .rate-price-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-desc .rate-price-desc span {
  font-size: 14px;
  color: #9da2ad;
}

.d-flex {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 15px;
}

.d-flex p {
  margin: 0;
  color: #9da2ad;
  font-size: 14px;
}

.d-flex p span {
  color: black;
  margin-left: 10px;
  font-weight: 500;
}

.d-flex.first p:nth-child(1) {
  margin-right: 65px;
}

.d-flex.one p:nth-child(1) {
  margin-right: 35px;
}

.d-flex.two p:nth-child(1) {
  margin-right: 80px;
}

.all-desc .desc-h1 {
  color: black;
  font-size: 15px;
  margin: 0;
}

.all-desc ul li {
  color: #9da2ad;
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 500;
}

.all-desc .chat {
  color: #9da2ad;
  font-size: 13px;
  margin: 0;
  line-height: 20px;
  font-weight: 500;
}

.footer-product {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: black;
  z-index: 2; /* Add this line */
}

.product-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.product-footer .price {
  font-size: 10px;
  color: #9da2ad;
  margin: 0;
  margin-bottom: 5px;
}

.product-footer .amount {
  color: #4ab197;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.split-button {
  display: inline-flex;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
}

.left-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.left-section {
  background-color: #4ab197;
  border-radius: 5px 0 0 5px;
  padding: 10px 20px;
}

.left-section span {
  color: white;
  margin-left: 4px;
  font-size: 14px;
}

.right-section {
  background-color: #2c2d40;
  color: #ffffff;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  padding: 12px 20px;
}

.left-section img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(65deg)
    brightness(110%) contrast(100%);
}
